/* spreadsheet colors 11151d(fond) 222d41 374158 7f5056 d76c58  */
@font-face {
    font-family: "Varygraphie";
    src: url(../font/VarygraphieBold_PERSONAL_USE_ONLY.otf);
}

:root{
    --orange-color: #d76c58;
}
* {
    background-color: #11151d;
    font-family: 'Courier New', Courier, monospace ;
    padding: 0px;
    margin: 0;
    box-sizing: inherit;
}
body{
    counter-reset: section;
}
html{
    scroll-behavior: smooth;
}
a{
    color : var(--orange-color);
    text-decoration: none;
    margin: 10px;
    transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1);

}
a:hover{
    color:#efefef;
    
}
a:hover~li{
    color: #efefef;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    color: #d76c58;
    padding: 0px;
    align-items: center;
}
header{ 
    display: flex;
    justify-content: space-between;   
    align-items: center;
    position:fixed;
    top: 0px;
    width: 100%;
    padding:  0 50px;
    opacity: 0.9;
    backdrop-filter: blur(10px);
    z-index: 12;
    
}
h5{
    font-size: large;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
    
}
section{
    max-width: 1000px;
    margin: 0px auto;
    padding: 100px 0px;
    position: relative;
}
h1{
    font-size:5rem;
    color: var(--orange-color);
    letter-spacing: -13px;
    font-family: "Varygraphie";
}

h3{
    color: #8892b0;
    font-size: 40px;
}
h4{
    padding-top: 45px;
    color: #efefef;
    font-size: 20px;
    font-weight: 600;
}
header p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #efefef;
}
svg{
    stroke:#efefef;
    transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1)
    
}
nav a{
    padding: 10px;
}
svg:hover{
    stroke:#d76c58;
}
.corps{
    padding: 0px 150px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vh;
    padding: 0px;
    

}
.icons{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
}
.icons li a{
    padding: 10px;
    display: inline-block;
}
.icons:hover{

    stroke: #d76c58;
}
.icons::after, .right::after{
    content: "";
    display: block;
    height: 90px;
    width: 1px;
    background-color: #8892b0;
    margin: 0px auto;
}
.left{
    position: fixed;
    width: 40px;
    left: 20px;
    right: auto;
    bottom: 0px;
}
.right{
    position: fixed;
    width: 40px;
    right: 20px;
    left: auto;
    bottom: 0px;
}
.right a{
    writing-mode: vertical-rl;
    padding: 10px;
    margin: 20px auto;
}

.name{
    color: var(--orange-color);
    font-size: 80px;
}
.logo{
    vertical-align: middle;
}
.menu{
    display: flex;
    padding-right: 100px;
    
}
.buttonResume{
    border: 1px solid #d76c58;
    border-radius: 5px;
    cursor: pointer;

}
.buttonResume:hover{
    background-color: #d76b5818
}
.intro div:first-child p{
    font-size: 13px;
    color: #efefef;
}
.intro div:last-child p{
    color: #8892b0;
    max-width: 740px;
    margin-top: 2%;
}
.cat:before{
    counter-increment: section;
    content: "0"counter(section)".";
    color: var(--orange-color);
    margin-right: 10px;
}
.cat{ 
    
    display: flex;
    color: #efefef;
    position: relative;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    margin: 10px 0px 40px;
    padding-top: 100px;
    
}
.lang{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}
.lang li::before{
    content: "▹";
    color: var(--orange-color);
    fill: #d76c58;
} 
.lang li{
    color: #8892b0;
    margin-bottom: 20px;
}  
.cat::after{
    content:"";
    display: block;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #8892b0;
}
.godown{
    color: transparent;
    width: 100%;
    height: 100%;
}
.flecheBox{
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
}
.arrow-down {
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
    animation:  arrow-down 2s infinite;
  }
.arrow-up {
    padding-top: 15px;
    display: block;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
    animation:  arrow-down 2s infinite;
  }
.arrow-up {
    transform: rotate(180deg);
  }
  @keyframes arrow-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes arrow-up {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
#photo{
    height: 400px;
    margin: auto;
}
#about{
    min-height: 80vh;
    padding-top: 115px;

}
#about div{
    max-width: 900px;
    display: flex;

    flex-wrap: wrap;

}

#about a{
    margin: 15px 0;
}
#about p{
    color: #8892b0;
    font-size: 23px;
    z-index: 11; 
}
#about div:nth-of-type(2){
    min-height: 50vh;
}
#about .desc{
    display: flex;
    flex: 1 0 450px;
    flex-wrap: wrap;
}
#photo{
    filter: grayscale(1);
    transition:  all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
#photo:hover{
    filter: grayscale(0);
}

/* Xp */


.container-exp ul {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin-top: 50px;
    align-items: start;
    width: max-content;
    flex: 1;

}
.container-exp ul li button{
    border-top: 2px #efefef solid;
    border-radius: 4px;
    padding: 10px;
    font-size: 40px;
    color: #d76c58;
    width: 400px;
}
.barre{
    height: 400px;
    width: 10px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #424755;
    position: relative;
    box-sizing: border-box;
    color: rgb(83, 81, 81);
}
.miniBarre20202021,.miniBarre20132020{
    position: absolute;
    width: 10px;
    left: -1px;
    visibility: hidden;
}
.miniBarre20202021{
    top: 99px;
    height: 34px;
}
.miniBarre20132020{
    top: 138px;
    height: 260px;
    
}
.miniBarre20202021On,.miniBarre20132020On{
    visibility: visible;
    background-color:var(--orange-color);
    z-index: 15;
    position: relative ;
    right: -4px;
}
.point2013::before,.point2014::before,.point2015::before,.point2016::before,.point2017::before,.point2018::before,.point2019::before,.point2020::before,.point2021::before,.point2022::before,.point2023::before{
    content: "●";
    color: rgb(83, 81, 81) ;
    position: absolute;
    font-size: 20px;
    border-radius: 50%;
    left: -2px;
}
.point2013,.point2014,.point2015,.point2016,.point2017,.point2018,.point2019,.point2020,.point2021,.point2022,.point2023{
    padding-left: 15px;
    background: transparent;
    position: absolute;
}
.point2013{
    top: 385px
}
.point2014{
   top: 347px;
}
.point2015{
   top:311px
}
.point2016{
   top: 273px;
}
.point2017{
   top: 235px
}
.point2018{
   top:197px
}
.point2019{
   top:159px
}
.point2020{
   top:121px
}
.point2021{
    top: 76px
}
.point2022{
    top: 38px;
}
.point2023{
    top: 0px;
}
.point2013On::before,.point2014On::before,.point2015On::before,.point2016On::before,.point2017On::before,.point2018On::before,.point2019On::before,.point2020On::before,.point2021On::before,.point2022On::before,.point2023On::before{
    content: "●";
    color: var(--orange-color) ;
    font-size:2em ;
    left: -6px;
}

.point2013On,.point2014On,.point2015On,.point2016On,.point2017On,.point2018On,.point2019On,.point2020On,.point2021On,.point2022On,.point2023On{
    color: rgb(251, 250, 250) ;
}
.big-cont{
    display: flex;
    justify-content: start;
    
}
.detailsCom, .detailsCor,.detailsUsi, .detailsSta, .detailsPho{
    width: 300px;  
    height: 185px;
    color: white;
    border: 1px solid white ;
    font-size: 15px;
    overflow: hidden;
}
.animate {
    animation: apparition 1s;
  }
.detailsCom{
    margin-top: 186px; 
}
.detailsCor{
    margin-top: 322px; 
}
.detailsPho{
    margin-top: 254px; 
}
.detailsSta{
    margin-top: 50px; 
}
.detailsUsi{
    margin-top: 119px; 
}
@keyframes apparition {
    0%{
        width: 0px;
        height: 0;
    }
    50%{
        width:300px;
        height: 1px;
    }
    100%{
        width:300px;
        height: 185px;
    }
    
}
.active{
    background-color: #3e4e6d;
}

.detailsCom li,.detailsCor li, .detailsUsi li, .detailsSta li, .detailsPho li{
    padding:15px;
    color: white;
    background: none;
}
#xp{
    min-height:90vh;
}
.none{
    display:none;
}